// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LGUI k1 &ht LCTRL k2 &ht LSHFT k3  &ht LALT  k4
#define HRMR(k1,k2,k3) &ht RALT k1 &ht RSHFT  k2  &ht RCTRL k3

// #define WIN 0
// #define SYM 1
// #define NAV 2
// #define MSC 3
// #define GAM 4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        sm_pu: left_parenthesis_underscore {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sm_ca: comma_apostrophe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp KP_COMMA>, <&kp APOS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sm_dc: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp KP_DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sm_rs: return_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RET>, <&kp KP_SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    //     sm_dg: double_quote_grave {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp DQT>, <&kp GRAVE>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     sm_lg: left_right_arrow {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp LT>, <&kp GT>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     sm_mc: multiply_exponent {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp KP_MULTIPLY>, <&kp CARET>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     sm_op: zero_parenthesis {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp KP_N0>, <&kp RPAR>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     sm_dco: two_comma {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp KP_N2>, <&kp KP_COMMA>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     sm_ts: three_dot {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp KP_N3>, <&kp KP_DOT>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     sm_sa: slash_ampersand {
    //         compatible = "zmk,behavior-mod-morph";
    //         #binding-cells = <0>;
    //         bindings = <&kp KP_SLASH>, <&kp AMPS>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    };

    // conditional_layers {
    //     compatible = "zmk,conditional-layers";
    //     tri_layer {
    //         if-layers = <SYM NAV>;
    //         then-layer = <MSC>;
    //     };
    // };

    keymap {

        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            // Main:                            &ht RCTRL k4
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // │     Q     │     W     │     E     │     R     │     T     │   │     Y     │     U     │     I     │     O     │     P     │
              &kp    Q    &kp    W    &kp    E    &kp    R    &kp    T        &kp    Y    &kp    U    &kp    I    &kp    O    &kp    P
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // │     A     │     S     │     D     │     F     │     G     │   │     H     │     J     │     K     │     L     │    ( _    │
            HRML(    A     ,     S     ,     D     ,     F )  &kp    G        &kp    H   HRMR(   J     ,     K     ,     L     )   &sm_pu
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // │     Z     │     X     │     C     │     V     │     B     │   │     N     │     M     │    , '    │    . :    │   </ /    │
              &kp    Z    &kp    X    &kp    C    &kp    V    &kp    B        &kp    N    &kp    M         &sm_ca      &sm_dc     &sm_rs
            // ╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
            //                                     │  NAV ->   │    <XX    │   │    ._.    │  SYM  </  │
                                                  &kp TAB     &kp   BSPC      &kp  SPACE  &lt SYM RET >; };

        symbol_number_layer {
            bindings = <
            // Symbols and Numbers:
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // │     &     │     |     │     ]     │     }     │     $     │   │     +     │     7     │     8     │     9     │    * ^    │
              &kp  AMPS   &kp  PIPE   &kp  RBKT   &kp   RBRC  &kp  DOLLAR     &kp  PLUS   &kp    N7   &kp    N8   &kp    N9       /* &sm_mc*/&none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // │    " `    │    /^\    │     [     │     {     │    < >    │   │    = ~    │     4     │     5     │     6     │    0 )    │
                  /*&sm_dg*/&none  &kp  LSHFT &kp  LBKT  &kp   LBRC         /*&sm_lg*/&none     &kp KP_EQUAL TILDE &kp N4 &kp   N5   &kp   N6        &sm_op
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // │     @     │     #     │     !     │     ?     │     \     │   │    - _    │     1     │    2 ,    │    3 .    │    / %    │
              &kp    AT   &kp   HASH  &kp  EXCL   &kp  QMARK  &kp  BSLH       &kp MINUS   &kp   N1        /*&sm_dco      &sm_ts      &sm_sa*/&none &none &none
            // ╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
            //                                     │    MISC   │    <XX    │   │    ._.    │     V     │
                                                       &trans      &trans          &trans      &trans
            //                                     ╰───────────┴───────────╯   ╰───────────┴───────────╯
            >;
        };

        // navigation_layer {
        //     bindings = <
        //     // Navigation:  
        //     // ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
        //     // │    ESC    │    XX>    │ Caps Lock │ Print Scr │  Insert   │   │           │   HOME    │  PG DOWN  │   PG UP   │   END     │
        //       &kp   ESC   &kp   DEL   &kp   CAPS  &kp  PSCRN  &kp INSERT          &trans  &kp  HOME   &kp  PG_DN  &kp  PG_UP  &kp  END
        //     // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //     // │    GUI    │   LCTRL   │   LSHFT   │    LALT   │           │   │           │     <     │     V     │    /^\    │     >     │
        //       &kp  LCTRL  &kp  LSHIFT &kp   TAB   &kp  LGUI       &trans          &trans  &kp   LEFT  &kp   DOWN  &kp    UP   &kp   RIGHT
        //     // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //     // │           │           │           │           │           │   │ PLY PAUSE │   MUTE    │ VOL DOWN  │  VOL UP   │    </     │
        //           &trans      &trans      &trans      &trans      &trans      &kp  C_PP   &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP &kp RET
        //     // ╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
        //     //                                     │     V     │    <XX    │   │    ._.    │    MISC   │
        //                                               &trans      &trans           &trans     &trans
        //     //                                     ╰───────────┴───────────╯   ╰───────────┴───────────╯
        //     >;
        // };

        // miscelanous_layer {
        //     bindings = <
        //     // Miscelanous:
        //     // ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
        //     // │    Fn 1   │    Fn 2   │    Fn 3   │    Fn 4   │ PROFILE 1 │   │ PROFILE 2 │ TOGGLEOUT │           │           │           │
        //       &kp   F1    &kp   F2    &kp   F3    &kp    F4   &bt BT_SEL 1    &bt BT_SEL 2 &out OUT_TOG   &trans      &trans      &trans
        //     // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //     // │    Fn 5   │    Fn 6   │    Fn 7   │    Fn 8   │ PROFILE 0 │   │ PROFILE 3 │           │           │           │           │
        //       &kp   F5    &kp   F6    &kp   F7    &kp    F8   &bt BT_SEL 0    &bt BT_SEL 3    &trans      &trans      &trans      &trans
        //     // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //     // │    Fn 9   │    Fn 10  │    Fn 11  │    Fn 12  │  CLEAR BT │   │ PROFILE 4 │           │           │           │  Gaming   │
        //       &kp   F9    &kp   F10   &kp   F11   &kp    F12  &bt BT_CLR      &bt BT_SEL 4    &trans      &trans      &trans  &tog  GAM
        //     // ╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
        //     //                                     │     V     │    <XX    │   │    ._.    │     V     │
        //                                               &trans      &trans           &trans     &trans
        //     //                                     ╰───────────┴───────────╯   ╰───────────┴───────────╯
        //     >;
        // };

        // gaming_layer {
        //     bindings = <
        //     // Todo later? Gaming (should be standard with the shift gaps ctrl on the left most column):
        //     // ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
        //     // │    TAB    │     Q     │     W     │     E     │     R     │   │           │           │           │           │           │
        //           &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans
        //     // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //     // │   LSHIFT  |     A     │     S     │     D     │     F     │   │           │           │           │           │           │
        //           &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans
        //     // ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //     // │   LCTRL   │     Z     │     X     │     C     │     V     │   │           │           │           │           │           │
        //           &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans  &tog GAM
        //     // ╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
        //     //                                     │           │   LALT    │   │           │           │
        //                                               &trans      &trans          &trans      &trans
        //     //                                     ╰───────────┴───────────╯   ╰───────────┴───────────╯
        //     >;
        // };
    };
};